{% extends 'base.html.twig' %}

{% block body %}
    <div class ="d-flex justify-content-center m-5">
        <div class="alert alert-success"><h3 class="display-3">Dziękujemy za oddanie głosu!</h3></div>
    </div>
{% endblock %}