{% extends 'base.html.twig' %}

{% block body %}
    <div class ="d-flex justify-content-center m-5">
        <div class="alert alert-success"><h1 class="display-2">Dziękujemy za oddanie głosu!</h1></div>
    </div>
{% endblock %}