{% extends 'base.html.twig' %}

{% block body %}
    <div class ="d-flex justify-content-center" style="margin:0 !important; padding-top: 20% !important;">
        <img src="resources/adammickiewicz.png" width="100%">
    </div>
{% endblock %}