{% extends 'base.html.twig' %}

{% block title %}Dziękujemy{% endblock %}

{% block body %}
{#    <div class ="d-flex justify-content-center" style="margin:0 !important; padding-top: 20% !important;">#}
    <div style="margin:0 !important; padding-top: 20% !important; align-content: center !important;">
        <img src="resources/adammickiewicz.png" width="100%">
    </div>
{% endblock %}
{% block footer %}
<footer class="py-2 bg-dark text-white-50" style="bottom: 0; width: 100%; position:fixed;">
    <div class="container text-center">
        <small>&copy; 2019-2020 Jakub Pituła / Designed by Codrops</small>
    </div>
</footer>
{% endblock %}