
{% extends 'base.html.twig' %}

{% block title %}Cześć{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mb-3 ml-3 mr-3 mt-3">
        <div>
            <center>
                Witaj w głosowaniu!<br>
                W każdej kategorii wybierz z ułożonej alfabetycznie według nazwisk listy
                nauczyciela, który, Twoim zdaniem, najlepiej do niej pasuje.<br>
                Jeśli nie masz pomysłu, pozostaw opcję <strong>brak</strong>.<br>
                Głosy zatwierdź przyciskiem <strong>ZAGŁOSUJ</strong> na dole strony.<br>
                Cieplutkie pozdrowionka od Szkolnej Rady Uczniowskiej.
            </center>
        </div>
    </div>

    <div class="d-flex justify-content-center m-2">
        <button class="btn" style="color: #3498db !important; background-color: #fff !important; border: 5px solid !important;" onClick="javascript: window.location='{{path('vote')}}'">
        Przejdź do głosowania
        </button>
    </div>
{% endblock %}
{% block footer %}
<footer class="py-2 bg-dark text-white-50" style="bottom: 0; width: 100%; position:fixed;">
    <div class="container text-center">
        <small>&copy; 2019 Jakub Pituła</small>
    </div>
</footer>
{% endblock %}